
body {
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}

.container {
	display:block;
	width:70%;
	height:10em;
	margin-right:15em;
	margin-left:5em;
	font-size:1em;
}

#fittext {
	font-size: 4em;
	text-align: center;
}

.container:nth-of-type(1n) {
        background: white;
        margin-right: 0.625em;
        float: left;
}

@media screen and (max-width: 500px){
    .container {
        width: 45%;
        margin-right: 10%;
    }

    .container:nth-of-type(1n) {
        margin-right: 10%;
        background: blue;
    }
